<div class="max-w-lg">
  <div
    class="border-radius-card rounded overflow-hidden flex flex-col max-w-xl mx-auto"
  >
    <a href="#">
      <img
        height="50rem"
        width="20rem"
        class="img-diploma"
        [src]="'../../../assets/Certifications/' + Pathimg"
        alt="certification-doryan"
      />
    </a>
    <div class="relative -mt-16 px-10 pt-5 pb-5 bg-bagde m-10">
      <a href="#" class="font-semibold text-lg bage-text mb-2">
        {{ Name }}
      </a>
      <p class="bage-text text-sm">
        {{ academy }}
      </p>
    </div>
  </div>
</div>
