.img-card-project {
  height: 20rem;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.bg-card {
  /*background-color: #170d3c;*/
  background: linear-gradient(
    360deg,
    rgba(60, 12, 128, 0.8),
    rgba(9, 4, 47, 0.4)
  );
}

.tittle-card {
  color: white;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
}

.subtittle-color {
  color: rgb(187, 201, 219);
}

.subtittle-size {
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.tittle-card-tech {
}

.bg-bage {
  background-color: rgb(243, 240, 253);
}

.bage-text {
  color: rgb(10, 65, 143);
}

.border-radius-card {
  border-radius: 20px;
}

.transition-blur-brightness {
  transition: filter 1s ease-in-out 0.5s;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.1);
  }
}

.animate-heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite;
}
