<div
  class="bg-section-experiences p-5 lg:flex-row md:flex-row sm:flex-col flex-col flex gap-4"
  style="height: auto"
>
  <div
    class="lg:w-1/2 md:w-1/2 sm:w-3/4 w-3/4 mx-auto lg:order-1 md:order-1 sm:order-2 order-2 rounded-lg flex flex-col items-center md:p-3 sm:p-0 mt-10 mb-10"
  >
    <ng-container *ngFor="let experience of Experiences; let i = index">
      <app-card-experience
        [Workplace]="experience.workplace!"
        [Job]="experience.job!"
        [Description]="experience.Description!"
        [Pathimg]="experience.Pathimg!"
        [UrlWorkplace]="experience.UrlWorkplace!"
        [Duration]="experience.duration!"
      >
      </app-card-experience>
    </ng-container>
  </div>
  <div
    class="lg:w-1/2 md:w-1/2 sm:w-2/2 lg:order-2 md:order-2 sm:order-1 order-1 rounded-lg flex flex-col items-center justify-center"
  >
    <p
      class="tittle-experience text-white lg:text-8xl md:text-8xl text-5xl sm:mt-5"
    >
      Work
    </p>
    <p
      class="tittle-experience text-white lg:text-8xl md:text-8xl text-5xl sm:text-5xl"
    >
      experience
    </p>
  </div>
</div>
