<div class="bg-section-certifications" style="height: auto">
  <div class="p-5 md:flex-row gap-4">
    <div
      class="md:w-full lg:w-full sm:w-full rounded-lg flex flex-col items-center justify-center mt-25 mb-10"
    >
      <p
        class="tittle-certification text-white lg:text-8xl md:text-8xl sm:mt-5 text-5xl"
      >
        {{ this.appStore.Translation().TitleCertification }}
      </p>
    </div>
  </div>

  <!--  CONTENEDOR RELATIVO PARA POSICIONAR FLECHAS Y CARDS -->
  <div class="relative p-5">
    <!--  FLECHA IZQUIERDA -->
    <button
      class="absolute left-20 top-1/2 transform -translate-y-1/2 z-10 p-2 rounded-full shadow"
      (click)="paginaAnterior()"
    >
      <img
        src="../../../assets/flecha-derech.png"
        alt="anterior"
        [class.hover-arrows]="paginaActual > 1"
        width="40px"
        height="40px"
      />
    </button>

    <!-- ⬇️ CONTENEDOR DE CARDS -->
    <div class="flex flex-row flex-wrap gap-4 justify-center">
      <ng-container *ngFor="let project of this.items">
        <div class="md:w-1/4 lg:w-1/4 sm:w-2/4 rounded-lg flex flex-col">
          <app-card-certification
            [Name]="project.Name!"
            [academy]="project.Academy!"
            [Pathimg]="project.pathimg!"
          >
          </app-card-certification>
        </div>
      </ng-container>
    </div>

    <!-- ➡️ FLECHA DERECHA -->
    <button
      class="absolute right-20 top-1/2 transform -translate-y-1/2 z-10 p-2 rounded-full shadow hover:scale-105 transition"
      (click)="siguientePagina()"
    >
      <img
        src="../../../assets/flecha-izq.png"
        alt="siguiente"
        [class.hover-arrows]="paginaActual !== totalPaginas()"
        width="40px"
        height="40px"
      />
    </button>
  </div>
</div>
